* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-container {
  margin: 2vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.title {
  margin: 15px 0px 25px;
}
.info-api {
  margin: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
  text-align: start;
}
.one-container {
  background: rgb(203 152 60 / 80%);
  border-radius: 12px;
  box-shadow: 0px 0px 8px 1px black;
  max-width: 500px;
  min-width: 350px;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}
.card {
  cursor: pointer;
  max-width: 440px;
  width: 95%;
  /* height: 90px; */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px black;
  /* transition: transform 0.5s ease; */
  padding: 10px 0px;
}
.card-container-one-section {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.lilichka-good {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
/* .card:hover {
  transform: scale(1.08);
} */
.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card-info {
  /* border-right: 4px solid rgb(203 152 60 / 80%); */
  text-align: start;
  width: 250px;
}
.search-container {
  margin: 0px 10px 15px;
  max-width: 440px;
  min-width: 350px;
  width: 90%;
  height: 28px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.336);
}
.search-container::placeholder {
  padding: 0 10px;
  font-size: 15px;
}
.textBtn {
  margin-left: 15px;
  color: rgb(60, 61, 61);
  font-weight: 700;
}
.card-container-submenu-nav {
  position: relative;
  z-index: 2;
  background: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
}
.nav-btn-submenu {
  width: 52;
  height: 52;
  border: 3px solid rgb(203 152 60 / 80%);
  display: flex;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.5s;
  color: rgb(203 152 60 / 80%);
}
.nav-btn-submenu:hover {
  background: rgb(203 152 60 / 70%);
  color: #ffffff;
  font-weight: 600;
}
.nav-border {
  height: 20px;
  width: 100%;
  background: rgb(203 152 60 / 80%);
  border-top: #272727 1px solid;
  border-bottom: #272727 1px solid;
  margin-top: 13px;
}

.card-container-submenu-name-animal {
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-container-submenu-name-animal-input {
margin: 0 1%;
height: 21px;
}
.card-container-submenu-name-animal-btn {
  width: 55px;
  height: 25px;
  background: rgb(203 152 60 / 80%);
  border: none;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: color 0.5s ease;
}
.card-container-submenu-name-animal-btn:hover {
  color: rgba(240, 248, 255, 0.90);
}